@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans.ttf);
}
* {
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
body {
	font-family: OpenSans, sans-serif;
	color: #1F1F1F;
}
.container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}

header.container {
	padding: 45px 15px;
	display: flex;
	align-items: center;
	position: relative;
}
header img {
	display: block;
}
.navbar {
	list-style: none;
	margin-left: 165px;
	padding: 0;
	background-color: #fff;
	display: flex;
	gap: 40px;
}
.navbar-toggler {
	display: none;
}
.navbar a {
	text-decoration: none;
	font-size: 20px;
	line-height: 26px;
	color: #000;
	position: relative;
}
.navbar a:before {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: #EA5F1E;
	position: absolute;
	bottom: -1px;
	right: 0;
	transition: .3s;
}
.navbar a:hover:before {
	width: 100%;
	left: 0;
}
.navbar > li > a {
	display: block;
	padding: 10px 0;
}
.navbar > li > a:before {
	bottom: 8px;
}
.dropdown-item {
	position: relative;
}
.dropdown-menu {
	transition: .2s;
	opacity: 0;
	z-index: -1;
	position: absolute;
	left: 0;
	top: 100%;
	list-style: none;
	padding: 5px 30px 5px 15px;
	background: rgba(245, 245, 245, 0.8);
	border-radius: 0px 0px 10px 10px;
	white-space: nowrap;
}
.dropdown-menu > li {
	padding: 7px 0;
}
.dropdown-item:hover .dropdown-menu {
	opacity: 1;
	z-index: 1;
}
.lang {
	margin-left: auto;
	position: relative;
}
.current-lang {
	cursor: pointer;
}
.change-lang {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	z-index: -1;
	background-color: #FFF6F2;
	border-radius: 5px;
	padding: 5px 10px;
	transition: .2s;
}
.change-lang.active {
	opacity: 1;
	z-index: 1;
}
.change-lang a {
	text-decoration: none;
	display: flex;
	align-items: center;
}
.change-lang strong {
	color: #000;
	padding-left: 10px;
}
.change-lang span {
	color: #999;
	padding-left: 10px;
}
.change-lang span:hover {
	color: #000;
}
@media (max-width: 1440px) {
	.navbar {
		margin-left: 50px;
		gap: 30px;
	}
}
@media (max-width: 1199px) {
	header.container {
		padding: 25px 15px;
		justify-content: space-between;
	}
	.lang {
		margin-left: 0;
		order: 3;
	}
	nav {
		order: 1;
	}
	.logo-top {
		order: 2;
	}
	.navbar-toggler {
		display: block;
		cursor: pointer;
		width: 35px;
		padding: 10px 3px;
		transition: .2s;
	}
	.navbar-toggler span {
		position: relative;
		display: block;
		height: 1px;
		background-color: #000;
	}
	.navbar-toggler span:before,
	.navbar-toggler span:after {
		position: absolute;
		content: '';
		display: block;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #000;
	}
	.navbar-toggler span:before {
		top: -8px;
	}
	.navbar-toggler span:after {
		bottom: -8px;
	}
	.navbar-toggler.opened {
		transform: rotate(45deg);
	}
	.navbar-toggler.opened span:before {
		transform: rotate(-90deg);
		top: 0px;
		left: 0;
	}
	.navbar-toggler.opened span:after {
		opacity: 0;
	}
	.navbar {
		position: absolute;
		left: 0;
		top: 80%;
		margin-left: 0;
		opacity: 0;
		z-index: -1;
		padding: 0 15px;
		transition: .2s;
	}
	.navbar.visible {
		opacity: 1;
		z-index: 3;
	}
}
@media (max-width: 900px) {
	.navbar {
		display: block;
	}
	.dropdown-item:hover .dropdown-menu {
		position: relative;
	}
}
@media (max-width: 480px) {
	header.container {
		padding: 15px 15px 20px;
	}
	.logo-top img {
		width: 150px;
	}
	.navbar > li > a,
	.dropdown-menu > li {
		padding: 5px 0;
	}
	.navbar > li > a:before {
		bottom: 0;
	}
}

.top-slide {
	border-radius: 10px;
	overflow: hidden;
}
.top-slide img {
	display: block;
	width: 100%;
}
.top-slider .slick-prev {
	left: 40px;
	z-index: 2;
}
.top-slider .slick-next {
	right: 40px;
}
.top-slider .slick-prev:before {
    content: url('../img/white-arr-left.png');
}
.top-slider .slick-next:before {
    content: url('../img/white-arr-right.png');
}
@media (max-width: 500px) {
	.top-slider .slick-prev {
		left: 20px;
	}
	.top-slider .slick-next {
		right: 20px;
	}
}

.main-info {
	display: flex;
	justify-content: space-between;
	margin: 55px auto;
}
.main-text,
.main-pic {
	width: 49%;
	border-radius: 10px;
	overflow: hidden;
}
.main-text {
	background-color: #FFF6F2;
	padding: 25px 35px;
	font-size: 24px;
	line-height: 31px;
}
.main-pic {
	background-image: url('../img/main-pic2.jpg');
	background-size: cover;
	background-position: 50% 50%;
}
@media (max-width: 1199px) {
	.main-text {
		padding: 15px 25px;
		font-size: 20px;
		line-height: 26px;
	}
}
@media (max-width: 900px) {
	.main-text {
		padding: 10px 20px;
		font-size: 16px;
		line-height: 22px;
	}
}
@media (max-width: 750px) {
	.main-info {
		flex-wrap: wrap;
		margin: 35px auto;
	}
	.main-text,
	.main-pic {
		width: 100%;
	}
	.main-pic {
		padding-top: 100%;
		margin-top: 20px;
	}
}

.naprav-slider-wrap {
	position: relative;
}
.naprav-slider-wrap:before,
.naprav-slider-wrap:after {
	content: '';
	display: block;
	height: 100%;
	width: 155px;
	position: absolute;
	top: 0;
	background-color: #fff;
	opacity: .6;
	z-index: 5;
}
.naprav-slider-wrap:before {
	left: 0;
}
.naprav-slider-wrap:after {
	right: 0;
}
/*.naprav-slider .slick-slide {
	opacity: .5;
}*/
.naprav-slide {
	display: block;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	width: 335px;
	height: 335px;
	margin: 0 20px;
	background-size: cover;
	background-position: 50% 50%;
}
.naprav-slide span {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.naprav-tunis {
	background-image: url('../img/thumb-tunis.jpg');
}
.naprav-oae {
	background-image: url('../img/thumb-oae.jpg');
}
.naprav-tanzania {
	background-image: url('../img/thumb-tanzania.jpg');
}
.naprav-egipet {
	background-image: url('../img/thumb-egipet.jpg');
}
.naprav-turcia {
	background-image: url('../img/thumb-turcia.jpg');
}
.naprav-slider .slick-prev {
	left: 45px;
	z-index: 10;
}
.naprav-slider .slick-next {
	right: 55px;
	z-index: 10;
}
.naprav-slider .slick-prev:before {
    content: url('../img/arr-left.png');
}
.naprav-slider .slick-next:before {
    content: url('../img/arr-right.png');
}
@media (max-width: 1400px) {
	.naprav-slider-wrap:before,
	.naprav-slider-wrap:after {
		opacity: 0;
	}
	.naprav-slide {
		margin: 0 10px;
	}
	.naprav-slider .slick-prev {
		left: 10px;
	}
	.naprav-slider .slick-next {
		right: 20px;
	}
}
@media (max-width: 1199px) {
	.naprav-slider {
		margin: 0 -0.5%;
	}
	.naprav-slide {
		margin: 0 auto;
		width: auto;
		height: auto;
		padding-top: 100%;
		max-width: 95%;
	}
	.naprav-slider .slick-prev {
		left: 20px;
	}
	.naprav-slider .slick-next {
		right: 30px;
	}
}
@media (max-width: 900px) {
	.naprav-slider {
		margin: 0 -0.7%;
	}
	.naprav-slide span {
		font-size: 20px;
	}
}
@media (max-width: 600px) {
	.naprav-slider {
		margin: 0 -1%;
	}
}
@media (max-width: 480px) {
	.naprav-slide span {
		font-size: 16px;
		left: 15px;
		bottom: 15px;
	}
}

.main-banner {
	margin: 55px auto;
}
.main-banner img {
	display: block;
	width: 100%;
}
@media (max-width: 750px) {
	.main-banner {
		margin: 35px auto;
	}
}

.preim-wrap h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	line-height: 52px;
	margin-top: 0;
}
.preim {
	display: flex;
	justify-content: space-between;
	padding-top: 65px;
}
.preim-item {
	width: 24%;
	height: 250px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: 1px solid #EFEFEF;
	padding: 10px;
	/*transition: .5s;*/
}
/*.preim-item:hover {
	transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, .31, -.36);
}*/
.preim-icon {
	box-shadow: 1px 1px 4px #FFD3BF;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -75px;
	background-color: #fff;
	transition: .2s;
}
.preim-item path {
	fill: #FF6B26;
}
.preim-item path.fill-white {
	fill: #fff;
}
.preim-item:hover path {
	fill: #fff;
}
.preim-item:hover path.fill-white {
	fill: #FF6B26;
}
.preim-item:hover .preim-icon {
	background-color: #FF6B26;
}
.preim-item.preim-gibkost path {
	stroke: #fff;
}
.preim-item.preim-gibkost circle {
	fill: #FF6B26;
}
.preim-item.preim-gibkost:hover path {
	stroke: #FF6B26;
}
.preim-item.preim-gibkost:hover circle {
	fill: #fff;
}
.preim-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	padding-bottom: 20px;
	text-transform: uppercase;
}
@media (max-width: 1000px) {
	.preim-item {
		height: auto;
	}
	.preim-item h3 {
		font-size: 20px;
		line-height: 30px;
	}
}
@media (max-width: 900px) {
	.preim {
		flex-wrap: wrap;
	}
	.preim-item {
		width: 49%;
	}
	.preim-item:nth-of-type(1),
	.preim-item:nth-of-type(2) {
		margin-bottom: 100px;
	}
}
@media (max-width: 450px) {
	.preim-wrap h2 {
		text-align: center;
		font-size: 30px;
		line-height: 40px;
	}
	.preim-item {
		padding: 0;
	}
	.preim-item h3 {
		font-size: 15px;
		line-height: 22px;
	}
	/*.preim-item {
		width: 100%;
	}
	.preim-item:nth-of-type(1),
	.preim-item:nth-of-type(2),
	.preim-item:nth-of-type(3) {
		margin-bottom: 100px;
	}*/
}

.startax-form {
	display: flex;
	justify-content: space-between;
	margin: 55px auto 100px;
}
.startax-form h2 {
	font-size: 70px;
	line-height: 90px;
	font-weight: 100;
	margin: 0;
}
.startax-form p {
	font-size: 20px;
	line-height: 26px;
}
.startax-form-content,
.startax-form-pic {
	width: 49%;
	border-radius: 10px;
	overflow: hidden;
}
.startax-form-content {
	background-color: #FFF6F2;
	padding: 15px 35px 30px;
}
.startax-form-pic {
	background-image: url('../img/form-pic.jpg');
	background-size: cover;
	background-position: 50% 50%;
}
.about-form-pic {
	background-image: url('../img/about-form-pic.jpg');
}
.startax-form-content form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.startax-form-content input,
.startax-form-content textarea {
	border: 1px solid #FF6B26;
	border-radius: 10px;
	background-color: transparent;
	color: #999;
	font-size: 14px;
	line-height: 14px;
	outline: none;
	padding: 10px;
}
.startax-form-content input[type="text"] {
	width: 39%;
}
.startax-form-content input[type="email"] {
	width: 59%;
}
.startax-form-content textarea {
	resize: none;
	width: 100%;
	height: 100px;
	margin: 15px 0;
}
.startax-form-content button[type="submit"] {
	background-color: #FF6B26;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 21px;
	line-height: 28px;
	padding: 5px 15px;
	cursor: pointer;
	transition: .2s;
}
.startax-form-content button[type="submit"]:hover {
	background-color: #fff;
	color: #FF6B26;
}
.startax-contacts {
	display: flex;
	padding-top: 50px;
}
.startax-email-site,
.startax-adress {
	width: 50%;
}
.startax-email-site a,
.startax-adress {
	display: flex;
	align-items: center;
	color: #1F1F1F;
	text-decoration: none;
	font-size: 18px;
	line-height: 23px;
}
.startax-email img,
.startax-adress img {
	margin-right: 10px;
}
.startax-site img {
	margin: 10px 12px 10px 2px;
}
@media (max-width: 1440px) {
	.startax-form h2 {
		font-size: 50px;
		line-height: 60px;
	}
}
@media (max-width: 1199px) {
	.startax-form h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.startax-form-content {
		padding: 15px 25px 20px;
	}
	.startax-form p,
	.startax-email-site a,
	.startax-adress {
		font-size: 16px;
		line-height: 22px;
	}
	.startax-contacts {
		flex-wrap: wrap;
		padding-top: 35px;
	}
	.startax-email-site,
	.startax-adress {
		width: 100%;
	}
	.startax-adress img {
		margin: 0 18px 0 8px;
	}
}
@media (max-width: 850px) {
	.startax-form h2 {
		font-size: 32px;
		line-height: 40px;
	}
}
@media (max-width: 750px) {
	.startax-form {
		/*flex-wrap: wrap;*/
		margin: 35px auto;
	}
	.startax-form-content {
		width: 100%;
	}
	.startax-form-pic {
		display: none;
	}
	.startax-form h2 {
		font-size: 40px;
		line-height: 40px;
	}
}
@media (max-width: 480px) {
	.startax-form-content {
		padding: 15px;
	}
	.startax-form-content input[type="text"],
	.startax-form-content input[type="email"] {
		width: 100%;
	}
	.startax-form-content input[type="email"] {
		margin-top: 15px;
	}
	.startax-form h2 {
		text-align: center;
	}
}

footer {
	background-color: #1F1F1F;
	padding: 50px 0 30px;
}
footer .container {
	display: flex;
}
.foot-logo-soc {
	width: 40%;
	padding: 0 20px;
}
.foot-soc {
	width: 170px;
	display: flex;
	justify-content: space-between;
	padding: 20px 0 0 70px;
}
.foot-menu {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
}
.foot-menu a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	line-height: 26px;
	display: block;
	width: 31%;
	margin: 10px 0 30px;
}
.foot-menu a:hover {
	text-decoration: underline;
}
@media (max-width: 1199px) {
	.foot-logo-soc {
		width: 30%;
	}
	.foot-menu {
		width: 70%;
	}
	.foot-menu a {
		width: 33%;
	}
}
@media (max-width: 750px) {
	footer {
		padding: 50px 0;
	}
	.foot-logo-soc {
		width: 60%;
	}
	.foot-menu {
		width: 40%;
	}
	.foot-menu a {
		width: 100%;
		margin: 0 0 10px;
		font-size: 16px;
		line-height: 20px;
	}
}
@media (max-width: 480px) {
	footer .container {
		flex-wrap: wrap;
	}
	.foot-logo-soc,
	.foot-menu {
		width: 100%;
	}
	.foot-menu a {
		width: 50%;
		padding-left: 20px;
	}
	.foot-logo-soc {
		display: flex;
		justify-content: space-between;
		padding: 0 20px 35px;
	}
	.foot-soc {
		width: 100px;
		padding-left: 0;
	}
	.foot-soc img {
		margin-bottom: 15px;
	}
}
@media (max-width: 400px) {
	.foot-logo-soc {
		padding: 0 0 35px;
	}
	.logo-foot {
		width: 120px;
	}
}


/* about */
.about-pic {
	border-radius: 10px;
	overflow: hidden;
}
.about-pic img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.strany {
	margin: 55px auto;
}
.strany-opisanie {
	font-size: 30px;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	max-width: 1260px;
	margin: 0 auto 30px;
}
.strany [type="radio"] {
	display: none;
}
.strany-orange-block {
	position: relative;
	background: #FF6B26;
	border-radius: 10px;
	padding: 40px 0;
}
.strany-orange-block:before {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: #FF6B26;
	transform: rotate(45deg);
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -13px;
}
.strany-label-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 850px;
	margin: 0 auto;
}
.strany-label-wrap label {
	text-transform: uppercase;
	font-size: 44px;
	line-height: 57px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	padding: 20px 45px;
}
#strany-tunis:checked ~ .strany-orange-block [for="strany-tunis"],
#strany-turcia:checked ~ .strany-orange-block [for="strany-turcia"],
#strany-egipet:checked ~ .strany-orange-block [for="strany-egipet"],
#strany-oae:checked ~ .strany-orange-block [for="strany-oae"],
#strany-tanzania:checked ~ .strany-orange-block [for="strany-tanzania"] {
	color: #1F1F1F;
}
.strany-uslugi {
	display: none;
	justify-content: space-between;
	padding-top: 70px;
}
.strany-uslugi-item {
	display: block;
	width: 18%;
	text-decoration: none;
	transition: .2s;
}
.strany-uslugi-item:hover {
	opacity: .7;
}
.strany-uslugi-item:hover h4 {
	text-decoration: underline;
}
.strany-uslugi-pic {
	border-radius: 10px;
	overflow: hidden;
}
.strany-uslugi-pic img {
	width: 100%;
}
.strany-uslugi-item h4 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 15px 0 0;
}
#strany-tunis:checked ~ .strany-uslugi.uslugi-tunis,
#strany-turcia:checked ~ .strany-uslugi.uslugi-turcia,
#strany-egipet:checked ~ .strany-uslugi.uslugi-egipet,
#strany-oae:checked ~ .strany-uslugi.uslugi-oae,
#strany-tanzania:checked ~ .strany-uslugi.uslugi-tanzania {
	display: flex;
}
@media (max-width: 1199px) {
	.strany-orange-block {
		padding: 25px 0;
	}
	.strany-label-wrap {
		max-width: 650px;
	}
	.strany-label-wrap label {
		font-size: 36px;
		line-height: 42px;
		font-weight: bold;
		padding: 15px 25px;
	}
	.strany-uslugi {
		padding-top: 40px;
	}
	.strany-uslugi-item h4 {
		font-size: 18px;
		line-height: 26px;
		margin: 10px 0 0;
	}
}
@media (max-width: 750px) {
	.strany {
		margin: 35px auto;
	}
	.strany-opisanie {
		font-size: 24px;
		line-height: 30px;
	}
	.strany-label-wrap {
		max-width: 550px;
	}
	.strany-label-wrap label {
		font-size: 30px;
		line-height: 36px;
		font-weight: bold;
		padding: 10px 20px;
	}
	.strany-uslugi-item h4 {
		font-size: 14px;
		line-height: 20px;
		margin: 5px 0 0;
	}
}
@media (max-width: 600px) {
	.strany-opisanie {
		font-size: 20px;
		line-height: 26px;
	}
	.strany-label-wrap label {
		font-size: 24px;
		line-height: 30px;
		padding: 10px;
	}
	.strany-uslugi {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -1.5%;
	}
	.strany-uslugi-item {
		display: block;
		width: 31%;
		margin: 0 1% 15px;
	}
}
@media (max-width: 480px) {
	.strany-opisanie {
		font-size: 18px;
		line-height: 24px;
	}
	.strany-orange-block {
		padding: 15px 0;
	}
	.strany-label-wrap label {
		font-size: 18px;
		line-height: 24px;
		padding: 5px 8px;
	}
}

.about-description {
	display: flex;
	justify-content: space-between;
}
.about-description-text {
	width: 49%;
	background-color: #FFF6F2;
	border-radius: 10px;
	font-size: 20px;
	line-height: 26px;
	padding: 80px 70px;
}
.about-description-pic {
	width: 49%;
	background-image: url('../img/about-description-pic.jpg');
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 10px;
	overflow: hidden;
}
@media (max-width: 1199px) {
	.about-description-text {
		padding: 50px 35px;
	}
}
@media (max-width: 750px) {
	.about-description {
		flex-wrap: wrap;
	}
	.about-description-text {
		width: 100%;
	}
	.about-description-pic {
		width: 100%;
		padding-top: 50%;
		margin-top: 20px;
	}
}
@media (max-width: 480px) {
	.about-description-text {
		padding: 30px 25px;
		font-size: 16px;
		line-height: 24px;
	}
}

.uslugi {
	margin: 55px auto;
}
.uslugi h2 {
	font-size: 40px;
	line-height: 52px;
	margin: 0 0 40px;
}
.uslugi-wrap {
	display: flex;
	justify-content: space-between;
}
.uslugi-item {
	width: 17%;
	height: 210px;
	padding: 0 10px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-size: 18px;
	line-height: 23px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: .2s;
	text-align: center;
}
.uslugi-item .small-text {
	font-size: 12px;
	line-height: 15px;
}
.uslugi-item path {
	fill: #FF6B26;
}
.uslugi-item:hover {
	color: #fff;
	background-color: #FF6B26;
}
.uslugi-item:hover path {
	fill: #fff;
}
@media (max-width: 1400px) {
	.uslugi-item {
		width: 18%;
	}
	.uslugi-item .small-text br {
		display: none;
	}
}
@media (max-width: 1199px) {
	.uslugi-item {
		font-size: 16px;
		line-height: 20px;
	}
	.uslugi-item .small-text {
		font-size: 10px;
		line-height: 12px;
	}
}
@media (max-width: 900px) {
	.uslugi h2 {
		font-size: 32px;
		line-height: 40px;
		margin: 0 0 25px;
		text-align: center;
	}
	.uslugi-wrap {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -1%;
	}
	.uslugi-item {
		width: 31%;
		margin: 0 1% 20px;
	}
}
@media (max-width: 750px) {
	.uslugi {
		margin: 35px auto;
	}
}
@media (max-width: 480px) {
	.uslugi h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.uslugi-item {
		width: 48%;
		height: 180px;
		margin: 0 1% 15px;
	}
}

.support-partners {
	display: flex;
	justify-content: space-between;
	padding: 35px 15px;
}
.support-partners-pic {
	width: 49%;
	background-image: url('../img/support-partners-pic.jpg');
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 10px;
	overflow: hidden;
}
.support-partners-text {
	width: 49%;
	color:  #fff;
	font-size: 20px;
	line-height: 26px;
	background-color: #FF6B26;
	border-radius: 10px;
	padding: 80px 70px;
}
@media (max-width: 1199px) {
	.support-partners-text {
		padding: 50px 35px;
	}
}
@media (max-width: 750px) {
	.support-partners {
		flex-wrap: wrap;
		padding: 0 15px;
	}
	.support-partners-text {
		order: 1;
		width: 100%;
	}
	.support-partners-pic {
		order: 2;
		width: 100%;
		padding-top: 50%;
		margin-top: 20px;
	}
}
@media (max-width: 480px) {
	.support-partners-text {
		padding: 30px 25px;
		font-size: 16px;
		line-height: 24px;
	}
}

.dostoinstva {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 20px;
	line-height: 26px;
}
.dostoinstva-item {
	width: 49%;
	padding-top: 50px;
}
.dostoinstva-item:nth-of-type(1),
.dostoinstva-item:nth-of-type(4) {
	padding-left: 15px;
}
.dostoinstva-item:nth-of-type(1) h3:before,
.dostoinstva-item:nth-of-type(4) h3:before {
	content: '';
	display: block;
	width: 3px;
	height: 110px;
	background-color: #FF6B26;
	position: absolute;
	left: -15px;
	top: 5px;
}
.dostoinstva-item:nth-of-type(2) h3:before,
.dostoinstva-item:nth-of-type(3) h3:before {
	content: '';
	display: block;
	height: 3px;
	width: 110px;
	background-color: #FF6B26;
	position: absolute;
	left: 0;
	bottom: -8px;
}
.dostoinstva h3 {
	color: #FF6B26;
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 15px;
	text-transform: uppercase;
	position: relative;
}
.dostoinstva a {
	color: #1F1F1F;
}
@media (max-width: 1199px) {
	.dostoinstva {
		font-size: 16px;
		line-height: 24px;
	}
}
@media (max-width: 750px) {
	.dostoinstva-item {
		width: 100%;
		padding-top: 30px;
	}
	.dostoinstva {
		padding-top: 15px;
	}
}


/* country */
.country-top-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-transform: uppercase;
	padding-bottom: 50px;
}
.country-links-wrap {
	display: flex;
	gap: 50px;
	overflow-x: auto;
	padding: 5px 0;
}
.country-top-menu h1 {
	font-size: 60px;
	line-height: 70px;
	font-weight: 100;
	color: #FF6B26;
	padding: 0 30px 0 15px;
	margin: 0;
}
.country-top-menu a {
	text-decoration: none;
	color: #1F1F1F;
	font-size: 30px;
	line-height: 40px;
	transition: .2s;
}
.country-top-menu a:hover {
	color: #FF6B26;
}
@media (max-width: 1000px) {
	.country-top-menu h1 {
		font-size: 50px;
		line-height: 60px;
	}
	.country-top-menu a {
		font-size: 20px;
		line-height: 30px;
	}
	.country-links-wrap {
		gap: 40px;
	}
}
@media (max-width: 800px) {
	.country-top-menu h1 {
		font-size: 40px;
		line-height: 50px;
		padding-left: 0;
	}
	.country-top-menu a {
		font-size: 16px;
		line-height: 24px;
	}
	.country-links-wrap {
		gap: 30px;
	}
}
@media (max-width: 500px) {
	.country-top-menu h1 {
		font-size: 30px;
		line-height: 40px;
		padding-left: 0;
	}
	.country-links-wrap {
		gap: 20px;
	}
}

.country-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
.country-card {
	border: 1px solid #FF6B26;
	border-radius: 10px;
	width: 23.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 195px;
	transition: .2s;
	cursor: pointer;
	padding: 0 15px;
	margin-bottom: 2%;
}
.country-card-title {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}
.country-card path,
.country-card circle,
.country-card ellipse {
	fill: #FF6B26;
	transition: .2s;
}
.country-card:hover {
	color: #fff;
	background-color: #FF6B26;
}
.country-card:hover path,
.country-card:hover circle,
.country-card:hover ellipse {
	fill: #fff;
}
.country-card.country-card-mice path {
	stroke: #fff;
}
.country-card.country-card-mice:hover path {
	stroke: #FF6B26;
}
.country-card.country-card-mice rect {
	fill: #fff;
}
.country-card.country-card-mice:hover rect {
	fill: #FF6B26;
}
.country-card-content {
	border: 1px solid #FF6B26;
	border-radius: 10px;
	position: absolute;
	background-color: #fff;
	width: 0;
	height: 100%;
	left: 15px;
	top: 0;
	transition: all .2s linear;
	z-index: -1;
	opacity: 0;
	overflow: hidden;
}
.country-card-content.active {
	width: calc(100% - 30px);
	z-index: 1;
	opacity: 1;
}
.country-card-content-title {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	padding: 20px 80px;
	float: left;
	border-bottom-right-radius: 10px;
	border-bottom: 1px solid #FF6B26;
	border-right: 1px solid #FF6B26;
}
.country-card-close {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
}
.country-card-content-textpic {
	display: flex;
	padding-top: 15px;
	clear: both;
}
.country-card-content-text {
	width: 45%;
	font-size: 20px;
	line-height: 26px;
	padding: 0 30px;
}
.country-card-content-text p {
	margin: 5px 0 10px;
}
.country-card-content-pic {
	width: 55%;
	display: flex;
	justify-content: space-around;
	gap: 10px;
}
.country-card-content-pic img {
	margin-bottom: 100%;
}
.country-card-detail {
	font-size: 18px;
	line-height: 23px;
	color: #1F1F1F;
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-top: 30px;
}
.country-card-detail img {
	margin-left: 5px;
}
.country-card-detail:hover {
	text-decoration: underline;
}

.resorts h2 {
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
}
.resorts input {
	display: none;
}
.resorts-content {
	display: flex;
	padding-top: 20px;
}
.resorts-label-wrap {
	position: relative;
	width: 365px;
	flex-shrink: 0;
}
.resorts-label-wrap img {
	display: block;
	margin: 0 auto;
}
.resorts-label-wrap label {
	cursor: pointer;
	font-size: 10px;
	line-height: 13px;
	position: absolute;
	transition: .1s;
}
.resorts-label-wrap label:hover {
	color: #FF6B26;
}
#res-bizerta:checked ~ .resorts-content label[for="res-bizerta"],
#res-tabarka:checked ~ .resorts-content label[for="res-tabarka"],
#res-gammart:checked ~ .resorts-content label[for="res-gammart"],
#res-tunis:checked ~ .resorts-content label[for="res-tunis"],
#res-nabeul:checked ~ .resorts-content label[for="res-nabeul"],
#res-hammamet:checked ~ .resorts-content label[for="res-hammamet"],
#res-enfida:checked ~ .resorts-content label[for="res-enfida"],
#res-sousse:checked ~ .resorts-content label[for="res-sousse"],
#res-monastir:checked ~ .resorts-content label[for="res-monastir"],
#res-mahdia:checked ~ .resorts-content label[for="res-mahdia"],
#res-djerba:checked ~ .resorts-content label[for="res-djerba"],
#res-tozer:checked ~ .resorts-content label[for="res-tozer"],
#res-duz:checked ~ .resorts-content label[for="res-duz"] {
	color: #FF6B26;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
}
.resorts-label-wrap label[for="res-bizerta"] {
	top: -13px;
	left: 170px;
}
#res-bizerta:checked ~ .resorts-content label[for="res-bizerta"] {
	top: -20px;
	left: 160px;
}
.resorts-label-wrap label[for="res-tabarka"] {
	top: 15px;
	left: 100px;
}
#res-tabarka:checked ~ .resorts-content label[for="res-tabarka"] {
	top: 10px;
	left: 90px;
}
.resorts-label-wrap label[for="res-gammart"] {
	top: 17px;
	left: 230px;
}
#res-gammart:checked ~ .resorts-content label[for="res-gammart"] {
	top: 10px;
	left: 220px;
}
.resorts-label-wrap label[for="res-tunis"] {
	top: 32px;
	left: 195px;
}
#res-tunis:checked ~ .resorts-content label[for="res-tunis"] {
	top: 25px;
	left: 185px;
}
.resorts-label-wrap label[for="res-nabeul"] {
	top: 62px;
	right: 60px;
}
#res-nabeul:checked ~ .resorts-content label[for="res-nabeul"] {
	top: 58px;
	right: 45px;
}
.resorts-label-wrap label[for="res-hammamet"] {
	top: 75px;
	right: 60px;
}
#res-hammamet:checked ~ .resorts-content label[for="res-hammamet"] {
	top: 72px;
	right: 39px;
}
.resorts-label-wrap label[for="res-enfida"] {
	top: 93px;
	right: 80px;
}
#res-enfida:checked ~ .resorts-content label[for="res-enfida"] {
	top: 90px;
	right: 64px;
}
.resorts-label-wrap label[for="res-sousse"] {
	top: 112px;
	right: 90px;
}
#res-sousse:checked ~ .resorts-content label[for="res-sousse"] {
	top: 108px;
	right: 83px;
}
.resorts-label-wrap label[for="res-monastir"] {
	top: 125px;
	right: 40px;
}
#res-monastir:checked ~ .resorts-content label[for="res-monastir"] {
	top: 120px;
	right: 18px;
}
.resorts-label-wrap label[for="res-mahdia"] {
	top: 155px;
	right: 42px;
}
#res-mahdia:checked ~ .resorts-content label[for="res-mahdia"] {
	top: 150px;
	right: 27px;
}
.resorts-label-wrap label[for="res-djerba"] {
	top: 262px;
	right: 60px;
}
#res-djerba:checked ~ .resorts-content label[for="res-djerba"] {
	top: 256px;
	right: 45px;
}
.resorts-label-wrap label[for="res-tozer"] {
	top: 255px;
	left: 75px;
}
#res-tozer:checked ~ .resorts-content label[for="res-tozer"] {
	top: 250px;
	left: 67px;
}
.resorts-label-wrap label[for="res-duz"] {
	top: 287px;
	left: 138px;
}
#res-duz:checked ~ .resorts-content label[for="res-duz"] {
	top: 282px;
	left: 130px;
}
.resorts-text {
	font-size: 20px;
	line-height: 26px;
	background-color: #FFF6F2;
	border-radius: 10px;
	padding: 30px 50px 20px;
}
.resorts-text h3 {
	font-size: 24px;
	line-height: 31px;
	font-weight: bold;
	margin-top: 15px;
}
.resorts-text-item {
	opacity: 0;
	display: none;
}
#res-main:checked ~ .resorts-content .resorts-text-main,
#res-bizerta:checked ~ .resorts-content .resorts-text-bizerta,
#res-nabeul:checked ~ .resorts-content .resorts-text-nabeul {
	display: block;
	animation: opacity 1s linear forwards;
}
@keyframes opacity {
	form { opacity: 0; }
	to { opacity: 1; }
}
@media (max-width: 1000px) {
	.resorts-text {
		font-size: 16px;
		line-height: 20px;
		padding: 25px 40px 15px;
	}
}
@media (max-width: 700px) {
	.resorts h2 {
		text-align: center;
		font-size: 30px;
		line-height: 40px;
	}
	.resorts-content {
		flex-wrap: wrap;
	}
	.resorts-label-wrap {
		margin: 0 auto 20px;
	}
}
@media (max-width: 380px) {
	.resorts-label-wrap {
		left: -40px;
	}
}

.startax-hotels {
	padding-top: 30px;
	padding-bottom: 30px;
}
.startax-hotels h2 {
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
}
.startax-hotels-description {
	border-radius: 10px;
	overflow: hidden;
	display: flex;
}
.startax-hotels-text {
	background-color: #FFF6F2;
	width: 35%;
	font-size: 20px;
	line-height: 26px;
	padding: 75px 55px;
}
.startax-hotels-pic {
	background-image: url('../img/hotels-fon.jpg');
	background-size: cover;
	background-position: 50% 50%;
	width: 65%;
}
.startax-hotels-slogan {
	font-size: 30px;
	line-height: 40px;
	font-weight: bold;
	padding: 25px 0;
}
.startax-hotels-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
.startax-hotels-item {
	width: 23.5%;
	margin-bottom: 2%;
	border: 1px solid #FFECE3;
	box-shadow: 1px 1px 1px rgba(234, 95, 30, 0.32);
	border-radius: 10px;
	padding: 15px 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: .1s;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	position: relative;
}
.startax-hotels-list {
	position: absolute;
	top: 0;
	border: 1px solid #FFECE3;
	box-shadow: 1px 1px 1px rgba(234, 95, 30, 0.32);
	border-radius: 10px;
	width: 100%;
	padding: 20px;
	font-size: 16px;
	line-height: 20px;
	background-color: #fff;
	opacity: 0;
	z-index: -1;
	transition: .2s linear;
}
.startax-hotels-list.active {
	opacity: 1;
	z-index: 1;
	transform: translateY(95px);
}
.startax-hotels-list a {
	color: #1F1F1F;
	display: inline-block;
	margin: 5px 0;
	text-decoration: none;
	position: relative;
}
.startax-hotels-list a:before {
	content: '';
	display: none;
	width: 100%;
	height: 1px;
	background-color: #FF6B26;
	position: absolute;
	left: 0;
	bottom: -2px;
}
.startax-hotels-list a:hover:before {
	display: block;
}
.startax-hotels-item span {
	width: 61%;
}
.startax-hotels-item path,
.startax-hotels-item circle,
.startax-hotels-item ellipse {
	fill: #FF6B26;
	transition: .2s;
}
.startax-hotels-item:hover {
	color: #fff;
	background-color: #FF6B26;
}
.startax-hotels-item:hover path,
.startax-hotels-item:hover circle,
.startax-hotels-item:hover ellipse {
	fill: #fff;
}
.startax-hotels-item:hover rect {
	fill: #FF6B26;
}
.startax-hotels-detail {
	font-size: 18px;
	line-height: 23px;
	color: #1F1F1F;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-decoration: none;
}
.startax-hotels-detail img {
	margin-left: 5px;
}
.startax-hotels-detail:hover {
	text-decoration: underline;
}
@media (max-width: 700px) {
	.startax-hotels h2 {
		text-align: center;
		font-size: 30px;
		line-height: 40px;
	}
	.startax-hotels-slogan {
		font-size: 20px;
		line-height: 26px;
		font-weight: bold;
		padding: 20px 0;
	}
}

.country-exkursii {
	padding-top: 50px;
	padding-bottom: 50px;
}
.country-exkursii h2 {
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
}
.country-exkursii-slider {
	margin: 0 -10px;
}
.country-exkursii-item {
	color: #1F1F1F;
	text-decoration: none;
	display: block;
	margin: 0 auto 20px;
	font-size: 16px;
	line-height: 21px;
	max-width: 340px;
	transition: .2s;
}
.country-exkursii-item:hover {
	opacity: .7;
}
.country-exkursii-item img {
	display: block;
	width: 100%;
}
.country-exkursii-item h4 {
	font-size: 20px;
	line-height: 27px;
	font-weight: bold;
	margin: 15px 0 7px;
}
.country-exkursii-slider .slick-prev {
	left: 42%;
	top: auto;
	bottom: -50px;
	height: 40px;
	z-index: 2;
}
.country-exkursii-slider .slick-next {
	right: 42%;
	top: auto;
	bottom: -50px;
	height: 40px;
	z-index: 2;
}
.country-exkursii-slider .slick-prev:before {
    content: url('../img/slider-arr-left.png');
}
.country-exkursii-slider .slick-next:before {
    content: url('../img/slider-arr-right.png');
}
@media (max-width: 1400px) {
	.country-exkursii-item {
		max-width: 95%;
	}
}
@media (max-width: 1199px) {
	.country-exkursii-item {
		font-size: 14px;
		line-height: 18px;
	}
	.country-exkursii-item h4 {
		font-size: 18px;
		line-height: 24px;
		margin: 12px 0 5px;
	}
}
@media (max-width: 700px) {
	.country-exkursii h2 {
		text-align: center;
		font-size: 30px;
		line-height: 40px;
	}
}
@media (max-width: 600px) {
	.country-exkursii-item {
		font-size: 12px;
		line-height: 16px;
	}
	.country-exkursii-item h4 {
		font-size: 16px;
		line-height: 20px;
		margin: 10px 0 5px;
	}
	.country-exkursii-slider .slick-prev {
		left: 37%;
	}
	.country-exkursii-slider .slick-next {
		right: 37%;
	}
}

.recommend-tour {
	padding-top: 50px;
	padding-bottom: 150px;
}
.recommend-tour h2 {
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
}
.recommend-tour-wrap {
	display: flex;
	justify-content: space-between;
}
.recommend-tour-item {
	width: 32%;
	border: 1px solid #FF6B26;
	border-radius: 10px;
	padding: 10px;
}
.recommend-tour-pic {
	position: relative;
}
.recommend-tour-pic span {
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #fff;
	padding: 10px 15px;
	position: absolute;
	left: 20px;
	top: 20px;
}
.recommend-tour-pop span {
	background-color: #FF6B26;
}
.recommend-tour-new span {
	background-color: #00AB11;
}
.recommend-tour-active span {
	background-color: #29CCFF;
}
.recommend-tour-pic img {
	width: 100%;
	display: block;
}
.recommend-tour-info {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
}
.recommend-tour-name {
	width: 60%;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}
.recommend-tour-place {
	color: #1F1F1F;
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
}
.recommend-tour-place img {
	margin-right: 5px;
}
.recommend-tour-mail {
	font-size: 18px;
	line-height: 25px;
	color: #FF6B26;
	display: block;
	padding-top: 10px;
}
.recommend-tour-mail:hover {
	text-decoration: none;
}
@media (max-width: 700px) {
	.recommend-tour h2 {
		text-align: center;
		font-size: 30px;
		line-height: 40px;
	}
}